.alert-container {
    position: fixed;
    width: 50%;
    height: 10%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: transparent;

    transition: background-color .45s ease-in-out;
    z-index: 7;
}

.alert-container:not(.visible) {
    pointer-events: none;
}

.alert-container.visible {
    background-color: rgba(0, 0, 0, .3);
}

.alert-container .alert {
    pointer-events: all;
    animation: slide-up .3s ease forwards;
}

.alert-container.visible .alert {
    animation: slide-down .3s ease forwards;
}

@keyframes shadow-appear {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(0);
    }
    95% {
        opacity: 0;
    }
    100% {
        transform: translateY(100%);
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(100%);
        opacity: 0;
        visibility: visible;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.alert {
    margin: auto;
    position: relative;
    background: #FFF;
    border-radius: 10px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slide-down 0.3s ease forwards;
}
  
.alert .alert-text {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding: 10px;
}
  
.alert #btn-confirm {
    margin: 8px;
    min-width: 75px;
    width: auto;
    height: 30px;
    border: none;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: auto;
    transition: background 0.3s;
    cursor: pointer;
}

.alert #btn-confirm {
    background-color: #f13ce8;
    color: #FFF;
    transition: background 0.3s;
}

.alert #btn-confirm:hover {
    background: #d823cf;
}
