@font-face {
    font-family: "Roboto";
    src: url("../../assets/Roboto-Regular.ttf");
}

body {
    margin: 0;
    background: #a563db;
}

#app {
    display: flex;
    grid-template-columns: repeat(auto-fill, 200px);
    padding: 35px;
    gap: 24px;
    flex-wrap: wrap;
    transition: margin-left 0.3s, grid-column 0.3s;
}

#app.app--sidebar-open {
    margin-left: 300px;
}

/* .note-container {
    display: ;
} */

.note {
    position: relative;
    height: 200px;
    width: 200px;
    box-sizing: border-box;
    padding: 16px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    resize: none;
    font-family: 'Roboto';
    font-size: 16px;
    transition: transform 0.3s, opacity 0.3s, outline 0.3s;

}

.note.note-focused {
    outline: 5px solid #e048c7; /* Customize the outline color and size */
}

.note .note-text {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 32px);
    height: calc(100% - 40px);
    resize: none;
    background: transparent;
    border: none;
    padding: 16px;
    z-index: 1;
    font-size: 16px;
    font-family: 'Roboto';
    color: #000;
    overflow-wrap: anywhere; /* Generate new line within words */
    overflow-wrap: break-word; /* Fallback for browsers that don't support 'anywhere' */
    hyphens: auto;
}

.note .note-text.exceeded {
    color: #ff0000;
}



.note .note-text::after {
    content: '\A'; /* Insert a line break */
    white-space: pre; /* Preserve whitespace */
}

.note .note-text:focus {
    outline: none;
}

.note .note-deadline {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 5px;
    text-align: left;
    font-family: 'Roboto';
    color: rgba(46, 46, 46, 0.15);
}


.note .note-deadline.exceeded {
    color: #ff0000
}

/*@keyframes note-move {
    from {
      transform: translate(var(--translate-x), var(--translate-y));
    }
    to {
      transform: none;
    }
  }

@keyframes note-delete {
    to {
      transform: translateY(-100%);
      opacity: 0;
    }
  } */

.add-note  {
    height: 200px;
    width: 200px;
    border: none;
    outline: none;
    background: rgba(0,0,0, 0.1);
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 120px;
    color: rgba(0,0,0, 0.5);
    cursor: pointer;
    transition: background 0.4s;
}

.add-note:hover {
    background: rgba(0,0,0, 0.2);
}

.save-update {
    background-color: #f13ce8;
    border: none;
    border-radius: 15px;
    width: 250px;
    padding: 15px;
    padding-left: 24px;
    padding-right: 24px;
    color: #FFF;
    font-family: 'Roboto';
    font-size: 25px;
}


header {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 6;
}

.hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    height: 35px;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 101;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
    background-color: #f7a8b8;
}

.hamburger.is-active:after {
    opacity: 0;
    /* transform: rotate(45deg) translate(-9px, -8px);
    background-color: #55cdfc;   */
}

.hamburger.is-active .bar {
    transform: rotate(45deg) translate(-2px, 0px);
    background-color: #55cdfc;  
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    transition: left 0.3s;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    z-index: 5;
}

.sidebar-bottom .Bottom-content{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 20px;
}

.sidebar-bottom li {
    padding: 8px !important;
}
.sidebar.is-open {
    left: 0;
  }
  
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
.sidebar li {
    padding: 16px;
}

#sidebar-text {
    font-family: 'Roboto';
    color: #2e2e2e;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
  
.sidebar a {
    text-decoration: none;
    color: #000;
    font-family: 'Roboto';
    font-size: 16px;

}

.sidebar-header {
    margin-bottom: 1px;
    padding: 16px;
    background-color: #ffffff;
}
  
.sidebar-header p {
    /*margin: 10px;*/
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 25px;
}